
<div class="content-box-blue">Tu 0 - 0 Oponente</div>
  <div class="centra">
    <tr>
    <th class="Marcador">

    </th>
    <th></th>
    </tr>
    <tr >
        <th><a (click)="OpcionElegida('piedra')"><img class="imagenJuego" src="../assets/imagenes/piedra.jpg"></a></th>
        <th><a (click)="OpcionElegida('papel')"><img class="imagenJuego" src="../assets/imagenes/papel.jpg"></a></th>
        <th><a (click)="OpcionElegida('tijera')"><img class="imagenJuego" src="../assets/imagenes/tijera.jpg"></a></th>
    </tr>
 
      
  </div>
  <div [hidden]="eligio" class="centra1" >
  <tr>
      <th><img class="imagenResultado" src="../assets/imagenes/{{this.opcionTu}}.jpg"></th> 
      <th><img class="imagenResultado" src="../assets/imagenes/blanco.jpg"></th>
      <th><img class="imagenResultado" src="../assets/imagenes/{{this.opcionOpo}}.jpg"></th>

  </tr>
  </div>

