.main-text
{
    position: absolute;
    top: 20px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.bodi{
    background-color: #A7A7A7;
}
.container
{
    height: 100px;
    margin-top: 10%;
    padding: auto;
       
    margin-left: 25%;
}

.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
