
>
<app-cabecera>  </app-cabecera>
<app-principal>  </app-principal>
<html >
<body >
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="item active">
                      <img src="./assets/imagenes/slide1.jpg" alt="First slide">
                      <div class="carousel-caption">
                          <h3 style="color:black;">
                              LEANDRO VIDAL</h3>
                          <p>
                            Soy un estudiante de la carrera programador de la UTN, 25 años</p>
                      </div>
                  </div>
                  <div class="item">
                      <img src="./assets/imagenes/slide2.jpg" alt="Second slide">
                      <div class="carousel-caption" style="color:black;top:50px;">
                          <h3 >
                              Mi Juego Creado</h3>
                          
                      </div>
                  </div>
                  <div class="item">
                      <img src="./assets/imagenes/slide3.jpg" alt="Third slide">
                      <div class="carousel-caption">
                          <h3 style="margin-top:10px;font-size:50px;">
                          Adivina el Estadio </h3>
                          <p style="font-size:20px;">
                            El juego consiste mediante una serie de estadios del fútbol argentino , los
                            cuales se encuentran ocultos o distorsionados, debemos adivinar a que equipo pertenece
                          cada uno. Como ayuda, mostramos posibles escudos correctos.
                        Para ganar usted debe responder todos correctamente , puede fallar hasta 3 intentos.
                      Inténtalo hacer en el menor tiempo!!</p>
                      </div>
                  </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                      href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                      </span></a>
          </div>
          <div class="main-text hidden-xs">
              <div class="col-md-12 text-center">
                  <h1>
                      Quién Soy?</h1>
                
          </div>
      </div>
  </div>
</div>
<div id="push">
</div>
</div></body>
</html>