<app-cabecera>  </app-cabecera>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div [hidden]="muestra" class="alert alert-danger" style="margin-top:130px;margin-left:290px;">
    <strong>Atención!</strong> debe ingresar para poder Jugar! 
</div>
<div class="nav-side-menu">
    <div class="brand">Menu Principal</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li (click)="Juego('Juegos')">
                  <i class="fa fa-dashboard fa-lg" ></i> Juegos
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> Juegos <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li  (click)="Juego('Estadio')"><a>Adivina el estadio</a></li>
                    <li   (click)="Juego('Adivina')"><a>Adivina el Numero</a></li>
                    <li (click)="Juego('Agilidad')"><a>Agilidad aritmetica</a></li>
                    <li (click)="Juego('ppt')"><a>Piedra papel o Tijera</a></li>
                    <li  (click)="Juego('Anagrama')"><a>Anagrama</a></li>
                 
                </ul>
                <li  data-toggle="collapse" data-target="#products1" class="collapsed active">
                    <a ><i class="fa fa-gift fa-lg"></i> Listados y Estadisticas <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="products1">
                      <li  (click)="Listado('Estadio')"><a>Adivina el estadio</a></li>
                      <li  (click)=" Listado('Adivina')"><a>Adivina el Numero</a></li>
                      <li (click)="Listado('Agilidad')"><a>Agilidad aritmetica</a></li>
                      <li (click)="Listado('ppt')"><a>Piedra papel o Tijera</a></li>
                      <li  (click)="Listado('Anagrama')"><a>Anagrama</a></li>
                   
                  </ul>
                    
                <li (click)="Juego('quienSoy')">
                    <i class="fa fa-dashboard fa-lg" ></i> Quién Soy?
                  </li>

<!-- 
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Opciones <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul> -->
    
            </ul>
     </div>
</div >
