<body>


  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Acepto</button>
  <button  class="cancelbtn"  routerLink="/Principal" style="width:auto;">No acepto</button>
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
    <form class="modal-content animate" >
      <div class="container">
          <label><b>Email</b></label>
  		  <input id="email" type="text"  [(ngModel)]="username" class="form-control" name="email" placeholder="Ingresa tu Email">		  
        <label><b>Clave</b></label>
        <input id="password" [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="Ingresa tu clave">
        <label><b>Confirmar Clave</b></label>
        <input id="password" [(ngModel)]="passwordconfirm" type="password" class="form-control" name="password" placeholder="Repiite tu clave">  
        <p>creando la cuenta aceptando los<a  onclick="document.getElementById('id01').style.display='none'"  >Terminos y condiciones</a>.</p>
  
        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Me arrepenti</button>
          <button type="submit" (click)="Aceptar()" class="signupbtn">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
  
  </body>