<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->

<div class="abajo">
<h2 [hidden]="comienza"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo</button></h2>
<h1 style="padding-right:50px;margin-top:4px;color:black;border: 4px solid rgba(40, 0, 0, 0.95);"  class="col-xs-2">{{("0000").slice(-2)}}:{{("0000"+this.Tiempo).slice(-2)}} </h1>
</div>
<div class="pizarra">
    <br><br>
    <br><br>
  <h1   class="txtPizarra">{{this.juegoAritm.primerNumero}}</h1>
  <h1  [hidden]="!comienza"  class="txtPizarra">{{this.juegoAritm.operador}}</h1>
  <h1   class="txtPizarra">{{this.juegoAritm.segundoNumero}}</h1>
  <input [hidden]="!comienza" [(ngModel)]="juegoAritm.resultado" (keyup.enter)="verificar()"  name="numeroIngresado" type="text" class="inputPizarra" style="width:20%"/>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <br [hidden]="comienza">
  <br [hidden]="comienza">
  <br [hidden]="comienza">
  <br [hidden]="comienza">
  <br [hidden]="comienza">
</div>
<div class="abajo">
    <p [hidden]="!juegoAritm.Gano" class="Gano">Usted adivino el número!! Intentos: {{juegoAritm.cont}}</p>
    <p [hidden]="!Perdio" class="Perdio">El tiempo se agoto!! el resultado era {{juegoAritm.resultReal}}</p>
</div>
