
.content-box-blue {
    text-align: center;
    background-color: #d8ecf7;
    border: 1px solid #afcde3;
    font-size: 72px;
    width: 1700px;
    padding-left: 300px;
    padding-top: 120px;
    margin: auto;   
    }
.form-control
{
height: 40px;
width: 100px;


}
.col-xs-4{
    margin-top: 25px;
    font-size: 50px;
    height: 50px;
    border-bottom-color: #000000;
}
.col-xs-2{

    border-bottom-color: #000000;
    margin-top: 25px;
    font-size: 50px;
    height: 50px;

}
.respuestas{
    margin-left: 0px;   
    size: 2px;
    border-radius: 30px;
}